@using Newtonsoft.Json;
@using System.Web.Caching;
@using Resources;
@{
    if (!Request.IsLocal)
    {
        var dateLastModified = DateTime.MinValue;
        Response.Cache.AppendCacheExtension("max-age=0");
        Response.Cache.SetValidUntilExpires(true);
        Response.Cache.SetCacheability(HttpCacheability.ServerAndPrivate);
        Response.AddCacheDependency(new CacheDependency(Server.MapPath("~/")));
        Response.AddCacheDependency(new CacheDependency(Server.MapPath("~/scripts")));
        Response.AddCacheDependency(new CacheDependency(Server.MapPath("~/Content")));
        TimeLogger.Web.Core.Site.SetConditionalGetHeaders(dateLastModified.ToLocalTime(), Context);
    }
    var activePage = "Home";
    if (Request.RawUrl.ToLower().Contains("insights"))
    {
        activePage = "Insights";
    }
    else if (Request.RawUrl.ToLower().Contains("tasks"))
    {
        activePage = "Tasks";
    }
}
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <link rel="stylesheet" href="@TimeLogger.Web.Core.Site.FingerPrint("/Content/bootstrap.min.css")" />
    <link rel="stylesheet" href="@TimeLogger.Web.Core.Site.FingerPrint("/Content/bootstrap-theme.min.css")" />
    <link rel="stylesheet" href="@TimeLogger.Web.Core.Site.FingerPrint("/Content/font-awesome.min.css")" />
    <link rel="stylesheet" href="@TimeLogger.Web.Core.Site.FingerPrint("/Content/app.min.css")" />
</head>
<body>
    <header role="banner" class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="site-navbar navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed navbar-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand site-brand" href="/app" title="TimeLoggerLive"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class='@(activePage == "Home" ? "active" : "")'>
                                <a href="/App/" title="@AppResources.DailyLogs" >
                                    <span class="visible-xs">@AppResources.DailyLogs</span>
                                    <i class="hidden-xs fa fa-list fa-2x"></i>
                                </a>
                            </li>
                            <li class='@(activePage == "Insights" ? "active" : "")'>
                                <a href="/App/Insights" title="@AppResources.Insights">
                                    <span class="visible-xs">@AppResources.Insights</span>
                                    <i class="hidden-xs fa fa-bar-chart fa-2x"></i>
                                </a>
                            </li>
                            <li class='@(activePage == "Tasks" ? "active" : "")'>
                                <a href="/App/Tasks" title="@AppResources.Tasks">
                                    <span class="visible-xs">@AppResources.Tasks</span>
                                    <i class="hidden-xs fa fa-tasks fa-2x"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                                   title="@AppResources.Profile">
                                    <span class="visible-xs">@AppResources.Profile</span>
                                    <i class="hidden-xs fa fa-user fa-2x"></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a>@User.Identity.Name</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/App/PasswordReset">@AppResources.ResetPassword</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <form action="@FormsAuthentication.LoginUrl" method="post">
                                            <input type="hidden" name="signout" value="true" />
                                            <input type="hidden" name="returnUrl" value="@HttpUtility.HtmlEncode(Request.RawUrl)" />
                                            <button type="submit" title="@AppResources.SignOut" class="btn btn-link">
                                                @AppResources.SignOut
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript">
        var glb_userRoles = @Html.Raw(JsonConvert.SerializeObject(Roles.GetRolesForUser(User.Identity.Name)));
    </script>
    <script type="text/javascript" src="@TimeLogger.Web.Core.Site.FingerPrint("/Scripts/jquery-1.9.1.min.js")"></script>
    <script type="text/javascript" src="@TimeLogger.Web.Core.Site.FingerPrint("/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@TimeLogger.Web.Core.Site.FingerPrint("/Scripts/bootstrap3-typeahead.min.js")"></script>
    <script type="text/javascript" src="@TimeLogger.Web.Core.Site.FingerPrint("/Scripts/common.es5.js")"></script>
    @RenderSection("scriptDefinitions", false)
    <script type="text/javascript" src="@TimeLogger.Web.Core.Site.FingerPrint("/Scripts/app.es5.js")"></script>
    @RenderSection("script", false)
</body>
</html>
