@using Newtonsoft.Json;
@using NLog;
@using Resources;
@using TimeLogger.App.Web.Code.Common;
@using TimeLogger.App.Web.Code.TimeLog;
@{
    var log = LogManager.GetLogger("Home");
    Layout = $"~/_Layout.cshtml";
    log.Debug($"({User.Identity.Name}) Loading time logs");
    var timeLogs = TimeLogService.GetAllFor(Site.ConnectionString, DateTime.Today, (Guid)Membership.GetUser(User.Identity.Name).ProviderUserKey);
    log.Debug($"({User.Identity.Name}) {timeLogs.Count()} time log(s) found");
}

<div class="row">
    <div class="col-md-9">
        @dateNavigationBarHelper.Display(DateTime.Today)
    </div>
    <div class="col-md-3">
        @if (!User.IsInRole("Inactive"))
        {
            @actionNavigationBarHelper.Display(Resources.Report.DailyReport)
        }
    </div>
</div>

<section>
    <table class="table table-striped entry-list">
        <thead>
            <tr>
                <th class="from">@Entry.From</th>
                <th class="to">@Entry.To</th>
                <th>@Entry.Description</th>
                <th class="action">@Entry.Action</th>
                <th class="status">@Entry.Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var timeLog in timeLogs)
            {
                <tr data-id="@timeLog.Id">
                    <td contenteditable="false" class="time">@timeLog.From</td>
                    <td contenteditable="false" class="time">@timeLog.To</td>
                    <td contenteditable="false" class="description">@timeLog.Description</td>
                    <td><button class="btn btn-sm btn-danger action-clear"><i class="fa fa-times"></i></button>
                    <td><i class="fa fa-check-circle"></i></td>
                </tr>
            }
            <tr class="entry-ph">
                <td colspan="5">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;@Entry.ClickToAdd
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">@Entry.TotalDaily</td>
                <td colspan="2" class="entry-total">@TimeLogDurationPrinter.Display(timeLogs.Sum(tl => tl.Duration))</td>
            </tr>
        </tfoot>
    </table>
    <p id="entry-list-info" class="error-handler" style="display: none;"></p>
</section>

@reportModalView.Display()

@section script {
    <script type="text/javascript">
        var currentTimeLogs = @Html.Raw(
  JsonConvert.SerializeObject(timeLogs.Select(tl => new { id = tl.Id, duration = tl.Duration }))
     .Replace("{\"", "{")
     .Replace(",\"", ",")
     .Replace("\":", ":"));
    </script>
}