@using Resources;
@{ 
    Layout = "~/Account/_Layout.cshtml";
    Page.Title = $"{AppResources.Register} | TimeLoggerLive";
    var id = Request["id"];
}

<section class="container container-table">
    <div class="row vertical-center-row">
        @if (!User.Identity.IsAuthenticated)
        {
            <form name="login" action="@Request.RawUrl" method="post" accept-charset="utf-8" class="form-signin text-center col-md-4 col-md-offset-4">
                <fieldset>
                    <input type="hidden" id="inPasswordResetRequestId" name="inPasswordResetRequestId" value="@id" />
                    <div id="app-warning">

                    </div>
                    <div>
                        <label for="inPassword">@AppResources.Password:</label>
                        <input type="password" name="inPassword" id="inPassword" value="" class="form-control" />
                    </div>
                    <div>
                        <label for="inPasswordConfirmation">@AppResources.ConfirmPassword:</label>
                        <input type="password" name="inPasswordConfirmation" id="inPasswordConfirmation" value="" class="form-control" />
                    </div>
                    <div class="form-signin-btn">
                        <button type="submit" id="btnResetPassword" class="btn btn-lg btn-danger btn-block">
                            <i class="fa fa-check"></i>
                            @AppResources.ResetPassword
                        </button>
                    </div>
                </fieldset>
                @AntiForgery.GetHtml()
            </form>
        }
    </div>
</section>
<script type="text/javascript">
    var global_login_link = '/App/Login';
</script>